h1, p {
    color: #D16587;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 640px;
    height: 480px;
    border: 10px solid #CFB172;
    background: #CFB172;
    border-radius: 10px;
}

body {
    background-color: #86A3E2;
}
