h1, p {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}

.game {
    width: 800px;
    height: 450px;
    border: 10px solid;
    border-radius: 10px;
    display: flex; /* Use flexbox for iframe */
    justify-content: center; /* Center iframe */
    align-items: center; /* Center iframe */
}

.info {
    background: Beige;
    margin-top: 10px; /* Space above the info section */
    border: 10px solid;
    padding: 10px 30px; /* Adjust padding for a cleaner look */
    border-radius: 10px;
    text-align: center; /* Center text in info */
}

html {
    min-height:100%;
}

body {
    background: linear-gradient(90deg, #bf3b65, #86A3E2);
    margin: 0; /* Remove default body margin */
}
