h1, h2, p, dd {
    text-align: center;
    color: #D16587;
}

body {
    background-color: #86A3E2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Software {
  background: Beige;
  width: 600px;

  margin: 10px;
  border: 10px solid #CFB172;
  padding-right: 50px;
  padding-left:  30px;
  border-radius: 10px;
}

dt {
  display: block;
  margin-top: 40px;
}

img {
  image-rendering: auto;
}
