h1, h2, p {
    text-align: center;
    color: purple;
}

body {
    background-color: lightblue;
}

dt {
  display: block;
  margin-top: 40px;
}

dl {
  text-align:  center;
}

dd {
  color: #696969;
}

img {
  max-height: 10em;
  max-width: 3em;
  vertical-align: middle ;
}
