h1, h2, p, dd {
    text-align: center;
    //color: #bf3b65;
}

html {
    min-height:100%;
}

body {
    background: linear-gradient(90deg, #bf3b65, #86A3E2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Software {
  background: Beige;
  width: 600px;

  margin: 10px;
  border: 10px solid;
  padding-right: 50px;
  padding-left:  30px;
  border-radius: 10px;
}

dt {
  display: block;
  margin-top: 40px;
}

img {
  image-rendering: auto;
}
